/* The input */
.tags-input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.tags-input input {
    padding: 0;
    background: transparent;
    border: none;
}

.tags-input input:focus {
    outline: none;
}

.tags-input.active {
    display: flex;
    @extend .form-control, :focus;
}

/* The tag badges & the remove icon */
.tags-input span {
    @extend .me-2;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.tags-input-remove {
    display: block;
    cursor: pointer;
    margin-top: -0.25em;
    text-decoration: none;
    @extend .fw-bold;

    transition: transform 0.5s;
}

.tags-input-remove:hover {
    transform: scale(1.2);
}

.tags-input-remove:focus {
    outline: none;
}

.tags-input-remove:before {
    content: 'x';
    @extend .text-danger;
}

/* Tag badge styles */
.tags-input-badge {
    position: relative;
    display: inline-block;
    @extend .py-0, .px-2;

    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @extend .rounded;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tags-input-badge-pill {
    padding-right: 1.25em;
    padding-left: 0.6em;
    border-radius: 10em;
}

.tags-input-badge-pill.disabled {
    padding-right: 0.6em;
}

.tags-input-badge-selected-default {
    background-color: $gray-200;
}

/* Typeahead */
.typeahead-hide-btn {
    color: #999 !important;
    font-style: italic;
}

/* Typeahead - badges */
.typeahead-badges > span {
    margin-top: .5em;
}

.typeahead-badges > span {
    cursor: pointer;
    margin-right: 0.3em;
}

/* Typeahead - dropdown */
.typeahead-dropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.typeahead-dropdown li {
    padding: .25em 1em;
    cursor: pointer;
}

/* Typeahead elements style/theme */
.tags-input-typeahead-item-default {
    color: #fff;
    //background-color: #343a40;
    @extend .bg-secondary;
}

.tags-input-typeahead-item-highlighted-default {
    color: #fff;
    @extend .bg-primary;
}
